<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlagiTrack</title>
    <script src="/static/js/script.js" defer></script>
    <link rel="stylesheet" href="/static/dist/css/output.css" />
    <link rel="icon" href="/static/images/Loading.png" type="image/x-icon" />
    <style>
        .button-wrapper {
            margin-right: 16px;
            /* Add explicit spacing between buttons */
        }

        .button-wrapper:last-child {
            margin-right: 0;
            /* Remove margin from the last button */
        }
    </style>
</head>

<body class="bg-gray-50">
    <nav class="bg-white border-gray-200 shadow-md shadow-gray-600">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/dashboard" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/static/images/Logo.png" alt="Logo" class="h-7" />
            </a>
        </div>
    </nav>

    <section class="max-w-6xl mx-auto p-8">
        {% if files %}
        <!-- File Cards Container -->
        <div id="files-container" class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">
            {% for file in files %}
            <div
                class="border-2 border-deep-blue rounded-lg p-6 flex flex-col items-center justify-center shadow-md text-center">
                <img src="/static/images/File.png" alt="File Icon" class="h-14 mb-4" />
                <div class="text-deep-blue font-bold text-center">{{ file }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center mt-8 flex justify-center">
            <div class="button-wrapper">
                <form action="/delete" method="post">
                    <button id="clear-button"
                        class="bg-gradient-to-r from-deep-blue to-light-blue text-white font-bold py-3 px-6 rounded-lg hover:from-teal-500 hover:to-teal-700 transition-all duration-300">
                        CLEAR
                    </button>
                </form>
            </div>
            <div class="button-wrapper">
                <form action="/dashboard/result" method="post">
                    <button id="compare-button"
                        class="bg-gradient-to-r from-deep-blue to-light-blue text-white font-bold py-3 px-6 rounded-lg hover:from-teal-500 hover:to-teal-700 transition-all duration-300">
                        COMPARE
                    </button>
                </form>
            </div>
        </div>
        {% else %}
        <h1 class="text-center text-3xl font-bold text-deep-blue mt-6 mb-8">
            Upload Your Files
        </h1>
        <form action="/upload" method="post" id="upload-form" enctype="multipart/form-data"
            class="flex flex-col items-center justify-center mb-6">
            <label for="multi-file-upload" class="text-teal-600 font-semibold cursor-pointer text-center">
                <img src="/static/images/File.png" alt="Upload Icon" class="h-14 mx-auto mb-2" />
                <span class="block text-lg font-bold text-deep-blue">
                    Click to Select .C Files
                </span>
                <input type="file" id="multi-file-upload" name="files" class="hidden" accept=".c" multiple />
            </label>
        </form>

        <div id="files-container" class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">

        </div>
        {% endif %}
    </section>
</body>

</html>